.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(109, 109, 109, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 */
}

.modalContent {
  background: white;
  padding: 40px 42px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.moveButton {
  background-color: #ffa285;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.alertImg {
  width: 100px;
}
