.compSize {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.compSize h3 {
  margin-top: 3vh;
  font-size: 2rem;
  padding: 0;
}

.menuContainer {
  margin: 37px auto;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #eaffc9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /* margin: 20px; */
  overflow-y: auto;
}
.menuContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.addMenuButton {
  background-color: #fff;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
