.container {
  padding: 20px;
  max-width: 1vw;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.activeButton {
  background-color: #4caf50;
  color: white;
}
