.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */
}

.contentContainer::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 엣지에서 스크롤바 숨김 */
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #F8F8F8;
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;
}

.profileContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profileContainer p {
    margin: 0;
    color: #707070;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
}

.inputContainer {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hintText {
    color: green;
    margin-top: 5px;
}

.errorText {
    color: red;
    margin-top: 5px;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nicknameContainer,
.emailContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.nicknameInput,
.emailInput {
    flex: 1;
    margin-right: 10px;
}

.duplicateButton {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submitButton {
    background-color: #D1FD8C;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
}

.submitButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.cancelButton {
    background-color: #FFA285;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
}