.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */
}

.contentContainer::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 엣지에서 스크롤바 숨김 */
}

.title {
    margin-top: 5vh;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    background-color: #F8F8F8;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.profileContainer img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
}

.inputContainer {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.inputContainer label {
    display: block;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 5px;
    color: #008716;
}

.inputContainer input,
.inputContainer select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #E2EED0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.hintText {
    text-align: left;
    font-size: 12px;
    color: green;
    margin-top: 5px;
}

.errorText {
    text-align: left;
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

.inputRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5vw;
}

.nicknameContainer,
.emailContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.nicknameInput,
.emailInput {
    flex: 1;
    margin-right: 10px;
}

.duplicateButton {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 5vh;
    gap: 5vw;
}

.submitButton {
    background-color: #D1FD8C;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.submitButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.cancelButton {
    background-color: #FFA285;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.deleteAccountArea {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    gap: 5vw;
    margin: 10%;
}

.deleteAccountArea p {
    color: #7f7f7f
}

.deleteAccountArea a {
    color: #9a9a9a;
    font-size: 0.8rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}