.container {
  background-color: #e2f2d9;
  padding: 4%;
  border-radius: 10px;
  width: 90%;
  margin-top: 2vh;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3%;
}

.imageContainer {
  gap: 1vh;
}

.image {
  width: 20vw;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.infoText {
  font-size: 1rem;
  text-align: left;
}

.highlight {
  color: #00a71c;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.profileButton {
  background-color: #a9df55 !important;
}

.button {
  background-color: #d1e1b8;
  border: none;
  padding: 2%;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgb(173, 206, 153);
}