.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.reviewList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #eaffc9;
  border-radius: 10px;
  padding: 2% 4% 4% 4%;
}

.noneContainer {
  background-color: white;
  width: 95%;
  margin: 3%;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
