.compSize {
    height: 852px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.permitAreaCheck {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #EAFFC9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.map {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.allowButton {
    background-color: #EAFFC9;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.denyButton {
    background-color: #FFA285;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}