.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background-color: #FEC87F;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

.inputContainer {
  width: 80%; /* 인풋 박스의 너비를 컨테이너 너비의 80%로 설정 */
  margin-bottom: 15px;
  position: relative;
}

.inputContainer label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #008716;
}

.inputContainer input,
.inputContainer select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #CDE7B0;
  box-sizing: border-box;
}

.readOnlyInput {
  background-color: #f0f0f0;
}

.emailContainer,
.nicknameContainer {
  display: flex;
  align-items: center;
}

.emailInput,
.nicknameInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #CDE7B0;
  box-sizing: border-box;
}

.duplicateButton {
  background-color: #66B13B;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.duplicateButton:hover {
  background-color: white;
  color: #66B13B;
  border: 2px solid #66B13B;
}

.hintText {
  font-size: 11px;
  color: green;
  margin-top: 5px;
}

.errorText {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  width: 80%; /* 인풋 박스의 너비를 컨테이너 너비의 80%로 설정 */
}

.inputRow .inputContainer {
  flex: 1;
  margin-right: 10px;
}

.inputRow .inputContainer:last-child {
  margin-right: 0;
}

.selectInput {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #CDE7B0;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 80%; /* 버튼 그룹의 너비를 컨테이너 너비의 80%로 설정 */
  margin-top: 20px;
}

.updateButton,
.validUpdateButton,
.cancelButton {
  flex: 1;
  background-color: #8BC34A;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; /* 버튼 사이 간격 */
}

.validUpdateButton:hover {
  background-color: white;
  color: #8BC34A;
  border: 2px solid #8BC34A;
}

.updateButton:disabled {
  background-color: #cccccc;
  color: #666666;
   cursor: not-allowed;
}

.cancelButton {
  background-color: #FF7F50;
}

.cancelButton:hover {
  background-color: white;
  color: #FF7F50;
  border: 2px solid #FF7F50;
}

.imageContainer {
  text-align: center;
  margin-bottom: 20px;
}

.imagePlaceholder {
  background-color: #EAF8D1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  color: #4F8A10;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* 이미지가 클릭 가능한 버튼처럼 보이도록 */
}

.inputTitle {
  font-size: 0.9rem;
  text-align: center;
  color: black;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.imagePlaceholder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.uploadButton {
  display: none; /* 이제 이미지를 클릭해 업로드할 수 있으므로 이 버튼은 숨깁니다. */
}

.deleteAccountArea {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  gap: 5vw;
  margin: 10%;
}

.deleteAccountArea p {
  color: #7f7f7f
}

.deleteAccountArea a {
  color: #9a9a9a;
  font-size: 0.8rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}