.cartContainer {
  background-color: #ffcc80;
  padding: 20px;
  border-radius: 5px;
  height: 100vh;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; /* 컨테이너 너비를 고정 */
}

.cartContainer h1 {
  font-size: 1.1em;
  color: black;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartItem {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  justify-content: space-between;
}

.image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.details {
  flex: 1;
  text-align: left;
}

.details p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #333;
  text-align: center;
}

.quantityControl {
  display: flex;
  align-items: center;
}

.quantityControl span {
  padding-bottom: 10px;
}

.cartContainer label {
  text-align: left;
}

.quantityControl button {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quantityControl span {
  margin: 0 10px;
  font-size: 1em;
  color: #333;
}

.checkoutButton {
  background-color: #f46a45;
  color: white;
  border: 2px solid #f0ad4e;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
  margin-top: 20px;
}

.checkoutButton:hover {
  background-color: white;
  color: #f46a45;
}

.details p {
  padding-left: 10px;
}

.quantityControl span {
  padding-top: 10px;
}

.emptyCartMessage {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  margin-top: 20px;
}

.emptyCartMessage p {
  text-align: center;
}
