.cartContainer {
  background-color: #F5A623;
  padding: 20px;
  border-radius: 10px;
  height: 100vh;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #fff;
}

.cartItem {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.details {
  flex: 1;
  text-align: left;
}

h3 {
  margin: 0;
  font-size: 1em;
}

p {
  margin: 5px 0 0;
  font-size: 20px;
  
  text-align: center;
  color: #555;
}

.quantityControl {
  display: flex;
  align-items: center;
}

.quantityControl button {
  background-color: #F5A623;
  border: none;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
}

.quantityControl span {
  margin: 0 10px;
  font-size: 1em;
}

.checkoutButton {
  background-color: #fff;
  color: #F5A623;
  border: none;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.details p {
  padding-left: 10px;
}

.quantityControl span {
  padding-top: 10px;
}