.container {
  margin: 3%;
  background-color: #fec87f;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.container h3 {
  border-radius: 10px;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.truckItem {
  display: flex;
  /* align-items: center; */
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.truckContent {
  display: flex;
  align-items: center;
}

.truckItem img {
  width: 80px;
  height: 80px;
  object-fit: contain; /* 이미지를 잘리지 않게 비율에 맞춰 조절 */
  border-radius: 5px;
  margin-right: 20px; /* 이미지와 텍스트 사이의 간격을 조정 */
}

.truckDetails {
  display: flex;
  flex-direction: column;
}

.truckDetails h3 {
  text-align: left;
  margin: 0;
  font-size: 18px;
  color: #333;
}

.truckDetails p {
  margin: 4px 0;
  text-align: left; 
  font-size: 14px;
  color: #666;
}


.noJJimTruck {
  text-align: center;
  font-size: 1.1em;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-top: 20px;
}