.reviewCard {
  background-color: #FEC87F;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  height: 400px; /* 리뷰 카드의 고정된 높이 */
  display: flex;
  flex-direction: column;
}

.reviewContent {
  position: relative;
  display: flex;
  height: 65%;
  width: 100%;
}

.reviewImages {
  width: 100%;
  height: 100%;
  padding: 1vh 9.5vw 0 9.5vw;
  display: flex;
  justify-content: center;
}

.reviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 컨테이너를 채우도록 함 */
  border-radius: 5px;
}

.slick-slide img {
  width: 100%; 
  height: 100%;
  object-fit: cover; /* 슬라이더 이미지가 컨테이너를 채우도록 함 */
  border-radius: 5px; 
}

.reviewText {
  height: 30%;
  padding: 0 1vw 1vh 1vw;
}

.reviewAuthor {
  font-size: 1.25rem;
}
.reviewContentBox{
  padding: 2% 0 0 1.5%;
  word-break: break-word; /* 길게 이어지는 단어를 줄바꿈 처리 */
  font-size: 0.9rem;
}
.hrBox{
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hrLine {
  border: 0px;
  border-top: 1px solid #ffffff;
}

.noImage {
  width: 100%;
  height: 100%;
  padding: 1vh 9.5vw 0 9.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  font-size: 0.95rem;
  color: #FF6347;
  cursor: pointer;
}

.deleteButton:hover {
  color: #FF4500;
}

.slick-prev, .slick-next {
  z-index: 1;
}