.container {
    border: 2px solid #FF7F50;
    height: 99px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .status {
    font-size: 13px;
    color: #FF7F50;
    /* font-weight: bold; */
  }
  
  .orderTime {
    font-size: 13px;
    color: black;
    /* font-weight: bold;  */
  }
  
  .orderDetails p {
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
  }
  
  .noOrder {
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 1.2em;
    line-height: 105px;
  }
  