
.container {
  background-color: #FEC87F;  
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h3sobi {
  margin-bottom: 10px;
  color: black;
}

p {
  margin: 5px 0;
  font-size: 1.1em;
}

strong {
  color: #FF4500;
}

.chartContainer {
  margin-top: 20px;
}
