.menuItem {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

.imageContainer {
  padding-left: 10px;
  flex-shrink: 0;
  margin-right: 15px; 
}

.image {
  width: 80px; 
  height: 80px; 
  object-fit: contain;
  border-radius: 5px; 
}

.placeholder {
  width: 70px; 
  height: 70px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #888;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 15px; /* 이미지와 텍스트 사이에 약간의 간격 추가 */
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1; /* 세부사항이 가능한 많이 공간을 차지하도록 설정 */
}

.details h3 {
  font-size: 18px;
  padding-left: 18px;
  padding-bottom: 3px;
  margin: 0; /* 기본 여백 제거 */
}

.details span {
  padding-left: 18px;
  font-size: 14px;
  padding-bottom: 3px;
  white-space: nowrap; /* 줄바꿈 없이 한 줄로 유지 */
  overflow: hidden; /* 넘치는 텍스트는 숨김 */ 
  text-overflow: ellipsis; /* 넘치는 부분을 생략 부호(...)로 표시 */
  color: #666; /* 텍스트 색상 설정 */
}
