@import './sharedStyles.module.css'; /* 공유 스타일 임포트 */

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header p {
  margin: 5px 0;
}
