.container {
  background-color: #FEC87F;
  padding: 20px;
  border-radius: 10px;
}

.section {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section span {
  font-weight: bold;
  padding-left: 70px;
}


.section strong {
  padding-left: 10px;
}


.truckImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.container h2 {

  margin-bottom: 10px;
}

.section p {
  margin: 5px 0;
  color: black;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
}
  
.container hr {
  width: 93%;
}