@import './sharedStyles.module.css'; /* 공유 스타일 임포트 */

.foodTruckDetail {
  height: 100vh ;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffcc80; 
  padding: 15px; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; 
  height: 100%; 
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav button {
  background: none;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 18px; /* 폰트 크기를 줄여 작은 화면에 맞춤 */
  margin: 0 20px; /* 버튼 사이의 간격 줄이기 */
}

.nav button.selected {
  border-bottom: 2px solid white;
  color: white;
}

.content {
  width: 100%;
  max-width: 400px; /* 최대 너비를 설정하여 큰 화면에서도 디자인 유지 */
  margin-top: 10px; /* 콘텐츠와 네비게이션 사이의 간격 조정 */
}