.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 각 메뉴 아이템 사이의 간격 추가 */
  background-color: #FEC87F; /* 배경색 설정 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 전체 너비를 계산 */
  overflow-y: hidden; /* 스크롤바를 숨기기 */
  height: 100vh; 

}

.container {
  background-color: #ffcc80;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
}

.noMenuList {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}
