.reviewList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px; /* 각 메뉴 아이템 사이의 간격 추가 */
  background-color: #FEC87F; /* 배경색 설정 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 전체 너비를 계산 */
  overflow-y: hidden; /* 스크롤바를 숨기기 */
  height: 100vh;
}


.noReviewList {
  text-align: center;
  font-size: 1.1em;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-top: 20px;
}

.container {
  background-color: #FEC87F;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  height: 100vh;
}