.reviewItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.reviewImageCarousel {
  width: 100%;
  /* max-width: 350px; 사진의 최대 너비를 350px로 설정 */
  margin-bottom: 10px;
}

.reviewImage {
  width: 350px; /* 사진의 너비를 350px로 고정 */
  height: 190px; /* 사진의 높이를 190px로 고정 */
  /* object-fit: cover; 사진이 컨테이너를 가득 채우도록 설정 */
  border-radius: 10px;
  object-fit: contain;
}

.separator {
  width: 100%;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.reviewContent {
  width: 100%;
}

.reviewContent p {
  color: blue;
  text-align: left;
  margin: 5px 0 0;
}

.replyContent {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.replyContent strong {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.reviewHeader h4 {
  margin: 0;
}

.reviewHeader span {
  font-size: 12px;
  color: #888;
}

.reportButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reportIcon {
  width: 20px;
  height: 20px;
}
