.reviewItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.reviewImage {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.separator {
  width: 100%;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.reviewContent {
  width: 100%;
}

.reviewContent p {
  color: blue;
  text-align: left;
  margin: 5px 0 0;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.reviewHeader h4 {
  margin: 0;
}

.reviewHeader span {
  font-size: 12px;
  color: #888;
}

.reportButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reportIcon {
  width: 20px;
  height: 20px;
}
