.container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.join {
  margin-top: 50px;
}

.imgDiv img {
  width: 300px;
}

.joinDialog {
  display: inline-block;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.formGroup {
  margin-bottom: 15px;
}

.formControl {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 0;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btnLarge {
  font-size: 1em;
}

.btnSuccess {
  background-color: #28a745;
}

.btnDanger {
  background-color: #ffa285;
}

.btnInfo {
  background-color: #89dfec;
}

.session {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.sessionHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.mainVideo {
  width: 100%;
  /* margin: 20px auto; */
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
}

.streamContainer {
  cursor: pointer;
  width: 45%;
  margin: 2.5%;
}

.chatContainer {
  width: 100%;
  height: 600px; /* 필요에 따라 조정 가능 */
  background-color: white;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
    /* 아래쪽 그림자 */ 0 -2px 4px rgba(0, 0, 0, 0.3),
    /* 위쪽 그림자 */ 2px 0 4px rgba(0, 0, 0, 0.3),
    /* 오른쪽 그림자 */ -2px 0 4px rgba(0, 0, 0, 0.3); /* 왼쪽 그림자 */
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}

.chatInputBox {
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
  padding: 5px 10px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.noticeBox {
  width: 90%;
  border-radius: 10px;
  background-color: #eaffc9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.truckImg {
  width: 50px;
  height: 50px;
  border-radius: 45px;
  overflow: hidden;
}

.noticeTitle {
  color: #ff0000;
  font-weight: bold;
}

.noticeContent {
  white-space: pre-wrap;
}

.noticeInfo {
  text-align: left;
}

.messageForm {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 10px;
}

.messageInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  width: 70%;
}

.sendButton {
  margin: 0;
  padding: 10px 20px;
  border: none;
  background-color: #ffa285;
  color: black;
  border-radius: 10px;
  height: 40px;
}

.ownerItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.videoId {
  font-weight: bold;
  background-color: black;
  color: white;
}
