.background {
  width: 80%;
  height: 70%;
  padding: 10px;
  position: absolute;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  width: 100%;
  margin: 1%;
  margin-bottom: 3%;
}

.inputContainer label {
  margin-bottom: 5px;
  font-weight: 100;
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  position: absolute;
  bottom: 3%;
}

.submitButton {
  padding: 10px;
  background-color: #c0d79e;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.cancelButton {
  padding: 10px;
  background-color: #FFA285;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.container p {
  font-size: 0.8rem;
}

.successText {
  color: green;
}

.errorText {
  color: red;
}
