.headerCustomer,
.headerOwner {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 20px; */
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100vw;
}

.headerCustomer {
  background-color: #ffcc66;
}

.headerOwner {
  background-color: #e2eed0;
}

.topSection {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-bottom: 10px;
}

.leftSection {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  margin-right: 5px;
}
