.headerCustomer,
.headerOwner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 3% 4% 3%;
  width: 100%;
} 

.headerCustomer {
  background-color: #ffcc66;
}

.headerOwner {
  background-color: #e2eed0;
}

.topSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 4% 0 4%;
}

.leftSection {
  width: 85%;
  display: flex;
  align-items: end;
  font-size: 0.8rem;
  gap: 5%;
}

.rightSection {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 25%;
}