.foodFilter {
  display: flex;

  /* 수평으로 스크롤 하게 함 */
  overflow-x: scroll; 

  /* 스크롤 스냅 기능 */
  scroll-snap-type: x mandatory; 

  /* iOS에서 부드러운 스크롤을 위한 설정 */
  -webkit-overflow-scrolling: touch; 
  gap: 10px;
  background-color: #ffd27f;
  padding: 10px;
  border-top: 2px solid #FB9256;
  border-bottom: 2px solid #FB9256;
  scroll-behavior: smooth; 
}

.foodFilter::-webkit-scrollbar {
  /* 스크롤바 숨기기 */
  display: none; 
}

.filterButton {
  margin-left: 8px;
  /* 각 버튼이 수평으로 정렬되도록 설정 */
  flex: 0 0 auto; 
  /* 버튼이 스크롤 시 스냅되는 지점 */
  scroll-snap-align: start; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #ffa500;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filterButton.selected {
  background-color: white;
  color: #ffa500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: solid #FB9256;
}

.icon {
  font-size: 24px;
}
