.foodTruckItem {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* 고정된 너비 설정 */
  height: 100px; /* 고정된 높이 설정 */
  box-sizing: border-box; /* 패딩을 포함한 전체 크기를 설정 */
}

.icon {
  width: 80px; /* 이미지의 고정 너비 */
  height: 78px; /* 이미지의 고정 높이 */
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 */
  object-fit: contain;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column; 
  overflow: hidden; /* 내용이 넘칠 때 숨기기 */
}

.category, .address {
  font-size: 13px;
  margin: 0;
  white-space: nowrap; /* 텍스트가 한 줄로 나오도록 설정 */
  overflow: hidden; /* 내용이 넘칠 때 숨기기 */
  text-overflow: ellipsis; /* 넘치는 부분에 ... 표시 */
}

.distance {
  font-size: 12px;
  white-space: nowrap;
}

.description {
  padding-left: 10px;
  
}

.name {
  font-size: 20px;
  padding-bottom: 5px;
}

.address {
  font-size: 12px;
  padding-bottom: 5px;
}

.distance {
  font-size: 12px;
  color: #379700;
}