.surveyArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 5% 10% 5% 10%;
  font-size: 1em;
  gap: 10px;
}

.title {
  width: 100%;
  font-size: 0.85em;
}

.surveyBtn button {
  border-radius: 10px;
  border: 2px solid #fec674;
  background-color: white;
  color: #fec674;
  font-size: 1.5rem;
  vertical-align: middle;
  padding: 10px 20px 10px 20px;
  width: 100%;
}
